
html, body {
    background-color: white;
    margin: 0;
    padding: 0;
}

aside {
    background-color: white;
}

/* TYYLIT */

/* headerin tyylit */
header {
    background-color: #E2E9EE;
    height: 100px;
}

.header-title {
    font-size: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

/* Footerin tyylit */

footer {
    height: 150px;
    background-color: #E2E9EE;
}

/* navin tyylit */
nav {
    background-color:  #E2E9EE;
}

/* etusivun kuvan muotoilu */

.front-img {
    max-width: 70%;
}

.europe-img {
    width: 80%;
}

/* etusin hae napin muokkaus */
#button {
    background-color: #4C7893;
}

/* etusivun aside lämpimin ja kylmin divit */

.warmest-place-color {
    background-color: rgb(244, 198, 198);
}

.coldest-place-color {
    background-color: #CDDEE3;
}

/* sää-paikassa -tekstin tyylit */

